body {
}

.titulo-principal {
	padding-left: 20px
}

#devsecops {
	width: 100%
}

.principal {
	background: #CCCCCC;
	padding: 30px
}

.titulo-centralizado {
	text-align: center
}

p {
	text-align: center;
	font-size: 18px
}

#entrega {
	font-size: 10px
}

em strong {
	color: red
}

.arquitetura {
	background: #FFFFFF;
	padding: 5px;
}

ol {
	display: inline-block;
	vertical-align: top;
	width: 40%;
	margin-right: 5%;
	line-height: 200%
}

.itens {
	font-style: italic
}

.imagemdiagrama {
	margin-top: 120px;
	width: 50%;
}

.aplicacao {
	height: 100%;
	background-color: #CCCCCC;
	color: #000000
}

.nome-aplicacao {
	font-size: 40px
}

table {
	width: 100%;
	table-layout: fixed;
	margin-bottom: 100px;
}

td , th {
	padding: .7em;
	border: 1px solid #ccc;
	text-align: center;
}

th{
	font-weight: bold;
	background-color: #EEE;
}
